<% layout('layout/boilerplate') -%>
    <style>
        #result-box {
            padding: 0.5rem;
            margin: 2rem auto;
            width: 30rem;
            border-radius: 5px;
            box-shadow: 2px 2px 6px rgb(68, 68, 93);
            background-color: #e0e3e1d3;
        }

        h1 {
            color: rgb(19, 43, 38);
            text-align: center;
            font-weight: 1000;
            font-size: 2.3rem;
            margin-bottom: 0;
            text-shadow: 1px 1px 2px rgb(68, 68, 93);
        }

        .pieChart {
            display: flex;
            margin: auto;
            width: 40vw;
        }


        #result-good {
            font-family: sans-serif;
            text-align: center;
            font-size: 4rem;
            color: rgba(10, 174, 119, 0.84);
            font-family: inherit;
            font-weight: 1000;
            margin: 0rem auto;
            text-shadow: 2px 2px 6px rgb(68, 68, 93);
        }

        #result-bad {
            font-family: sans-serif;
            text-align: center;
            font-size: 5rem;
            color: red;
            font-family: inherit;
            font-weight: 1000;
            margin: 0rem auto;
            text-shadow: 2px 2px 6px rgb(68, 68, 93);
        }

        .card {
            width: 40rem;
            height: 40rem;
            margin: auto;
            border-radius: 30px;
            background: #fffcfc;
            box-shadow: 5px 5px 10px #375c48,
             
        }

        .pieChart {
            display: flex;
            margin: auto;
            width: 30vw;
        }

        .alert {
            color: red;
        }

        /* #AI {
        display: block;
        margin: 2rem auto 1rem auto;
        text-decoration: none;
        width: auto;
        padding: 0.5rem;
        font-size: 1.5rem;
        color: aliceblue;
        border-radius: 5px;
        text-align: center;
    } */
        #AI {
            color: #176042;
            font-size: 1.3rem;
            padding: 0.6rem 1rem;

        }

        a:hover {
            color: aquamarine;
        }

        #AI:hover {
            color: aquamarine;
        }

        button {
            padding: 3rem 3em;
            font-size: 12px;
            width: auto;
            text-transform: uppercase;
            letter-spacing: 2.5px;
            font-weight: 500;
            color: #000;
            background-color: #fff;
            border: none;
            border-radius: 45px;
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease 0s;
            cursor: pointer;
            outline: none;
            margin: 2rem auto;
            display: block;
        }

        button:hover {
            background-color: #23c483;
            box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
            color: #fff;
            transform: translateY(-7px);
        }

        button:active {
            transform: translateY(-1px);
        }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <section>
        <div class="border p-3 mx-auto w-50 mt-5" id="result-box">
            <form method="post" action="/answer/<%= businessid %>">
                <h1>Your Carbon emission is: </h1>
                <% if(value < 800){ %>
                    <div id="result-good">
                        <%=value %>&nbsp;tonnes
                    </div>
                    <% } else{ %>
                        <div id="result-bad">
                            <%=value %>&nbsp;tonnes
                        </div>
                        <% } %>
                            <div class="card">
                                <div class="pieChart">
                                    <canvas id="myChart"></canvas>
                                    <div style="display: none;" id="d1">
                                        <%=Arr[0]%>
                                    </div>
                                    <div style="display: none;" id="d2">
                                        <%=Arr[1]%>
                                    </div>
                                    <div style="display: none;" id="d3">
                                        <%=Arr[2]%>
                                    </div>
                                    <div style="display: none;" id="d4">
                                        <%=Arr[3]%>
                                    </div>
                                    <div style="display: none;" id="d5">
                                        <%=Arr[4]%>
                                    </div>
                                    <div style="display: none;" id="d6">
                                        <%=Arr[5]%>
                                    </div>
                                    <div style="display: none;" id="d7">
                                        <%=Arr[6]%>
                                    </div>
                                    <div style="display: none;" id="d8">
                                        <%=Arr[7]%>
                                    </div>
                                    <div style="display: none;" id="d9">
                                        <%=Arr[8]%>
                                    </div>
                                    <div style="display: none;" id="d10">
                                        <%=Arr[9]%>
                                    </div>
                                    <div style="display: none;" id="d11">
                                        <%=Arr[10]%>
                                    </div>
                                </div>
                            </div>

                            <button id="AI">Ask our AI Assistant</button>
            </form>
        </div>
    </section>

    <script>
        const ele1 = document.getElementById("d1");
        var v1 = ele1.innerHTML;
        const ele2 = document.getElementById("d2");
        var v2 = ele2.innerHTML;
        const ele3 = document.getElementById("d3");
        var v3 = ele3.innerHTML;
        const ele4 = document.getElementById("d4");
        var v4 = ele4.innerHTML;
        const ele5 = document.getElementById("d5");
        var v5 = ele5.innerHTML;
        const ele6 = document.getElementById("d6");
        var v6 = ele6.innerHTML;
        const ele7 = document.getElementById("d7");
        var v7 = ele7.innerHTML;
        const ele8 = document.getElementById("d8");
        var v8 = ele8.innerHTML;
        const ele9 = document.getElementById("d9");
        var v9 = ele9.innerHTML;
        const ele10 = document.getElementById("d10");
        var v10 = ele10.innerHTML;
        const ele11 = document.getElementById("d11");
        var v11 = ele11.innerHTML;
        const electricity = v1;
        // const Electric_v = 2000;
        const naturalGas = v2;
        const heatingOil = v3;
        const coal = v4;
        const lpg = v5;
        const propane = v6;
        const diesel = v7;
        const diesel_v = v8;
        const refrigerant = v9;
        const petrol_v = v10;
        const cng_v = v11;
        const ctx = document.getElementById("myChart");

        new Chart(ctx, {
            type: "pie",
            data: {
                labels: [
                    "Electricity",
                    "Natural Gas",
                    "Heating Oil",
                    "Coal",
                    "LPG",
                    "Propane",
                    "Diesel",
                    "Refrigerant",
                    "Petrol",
                    "CNG",
                ],
                datasets: [
                    {
                        label: "Metric Tonne of CO\u2082",
                        data: [
                            electricity,
                            naturalGas,
                            heatingOil,
                            coal,
                            lpg,
                            propane,
                            diesel + diesel_v,
                            refrigerant,
                            petrol_v,
                            cng_v,
                        ],
                        backgroundColor: [
                            "rgba(255, 159, 64, 0.8)",
                            "rgba(255, 205, 86, 0.8)",
                            "rgba(75, 192, 192, 0.8)",
                            "rgba(54, 162, 235, 0.8)",
                            "rgba(153, 102, 255, 0.8)",
                            "rgba(201, 203, 207, 0.8)",
                            "rgba(218, 112, 214, 0.8)", // Orchid
                            "rgba(255, 99, 132, 0.8)",
                            "rgba(46, 139, 87, 0.8)", // Sea Green
                            "rgba(0, 128, 128, 0.8)", // Teal
                        ],
                        borderColor: [
                            "rgb(255, 159, 64)",
                            "rgb(255, 205, 86)",
                            "rgb(75, 192, 192)",
                            "rgb(54, 162, 235)",
                            "rgb(153, 102, 255)",
                            "rgb(201, 203, 207)",
                            "rgb(218, 112, 214)", // Orchid
                            "rgb(255, 99, 132)",
                            "rgb(46, 139, 87)", // Sea Green
                            "rgb(0, 128, 128)", // Teal
                        ],

                        hoverOffset: 25,
                        borderWidth: 1,
                    },
                ],
            },
            options: {
                onClick: (e) => {
                    const canvasPosition = getRelativePosition(e, chart);

                    //   Substitute the appropriate scale IDs
                    const dataX = chart.scales.x.getValueForPixel(canvasPosition.x);
                    const dataY = chart.scales.y.getValueForPixel(canvasPosition.y);
                },
                scales: {
                    display: false,
                },
                plugins: {
                    legend: {
                        position: "top",
                        align: "end",
                    },
                },
                layout: {
                    padding: {
                        bottom: 30,
                    },
                },
            },
        });
    </script>